<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail" >
                <img class="img-responsive img-rounded" src="<%= campground.image %>" >
            </div>
            <div class="thumbnail">        
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><%= campground.name %></h4>
                    <p> <%= campground.description %></p>
                    <blockquote class="blockquote text-right">
                            <footer class="blockquote-footer">Written by <cite title="Blue Steele"><strong><%=campground.user.username%></strong></cite></footer>
                    </blockquote>
                    <%if(currentuser){
                        if(currentuser._id.toString() == campground.user.id.toString()){;%>
                            <form id="deleteform" method="POST" action="/campgrounds/<%=campground.id%>?_method=DELETE">
                                <a  href="/campgrounds/<%=campground._id%>/edit" class="btn btn-xs btn-warning edittag">Edit</a>
                                <button class="btn btn-danger btn-xs edittag">Delete</button>
                            </form>
                    <%}}%>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9" style="float:right;">
            <div class="well">
                <div class="text-right"><a href="/campgrounds/<%=campground._id%>/comments/new"  class="btn btn-primary btn-large">Add New Comment</a></div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%=comment.author.username%></strong>
                        <%if(currentuser && comment.author.id.toString() === currentuser._id.toString()){;%>
                            <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/delete?_method=DELETE" method="POST"><button class="pull-right btn btn-danger btn-xs">Delete</button></form>
                            <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" style="margin-right: 5px;" class="pull-right btn btn-warning btn-xs">Edit Comment</a>
                        <%}%>
                        <span class="pull-right">10 Days ago</span>
                        <p>
                            <%=comment.text%>
                        </p>
                        </div>
                    </div>
                <%});%>
            </div>
            <a href=/campgrounds class="btn btn-danger" style="margin-bottom: 10px;">Go back</a>
        </div>
    </div>
</div>



<% include ../partials/footer.ejs %>